.wrapper {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.btn_plus {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    padding: 10px 15px;
    background-color: transparent;
    color: #fff;
    border: 2px solid #605656;
    font-family: 'Montserrat Alternates', sans-serif;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in;
}
.btn_plus img {
    object-fit: cover;
    width: 30px;
    height: 30px;
}

.btn_plus:hover {
    transform: scale(1.02);
    background-color: #272727;
}

.message {
    color: #b61111;
    font-weight: 700;
    font-size: 26px;
    text-align: center;
}

.message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.message img {
    width: 60px;
    height: 60px;
    object-fit: cover;
}

@media (max-width: 800px) {
    .wrapper {
        padding: 0;
    }
    .btn_plus {
        font-size: 18px;
        gap: 5px;
    }
    .btn_plus img {
        width: 25px;
        height: 25px;
    }
}

@media (max-width: 600px) {
    .wrapper {
        gap: 15px;
    }
    .btn_plus {
        font-size: 16px;
    }
    .btn_plus img {
        width: 20px;
        height: 20px;
    }
}
