.wrapper {
    padding: 0 20px;
}

.btn_plus {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    padding: 10px 15px;
    background-color: transparent;
    color: #fff;
    border: 2px solid #605656;
    font-family: 'Montserrat Alternates', sans-serif;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in;
}
.btn_plus img {
    object-fit: cover;
    width: 30px;
    height: 30px;
}

.btn_plus:hover {
    transform: scale(1.02);
    background-color: #272727;
}

.btn {
    align-self: center;
    font-size: 20px;
    padding: 10px 15px;
    background-color: #272727;
    color: #fff;
    border: 2px solid #605656;
    font-family: 'Montserrat Alternates', sans-serif;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.btn:hover {
    transform: scale(1.02);
}

.workout {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 20px;
}

.workout_item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 2px solid #463d3d;
    border-radius: 25px;
    padding: 20px 30px;
}

.workout_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.workout_top h3 {
    font-size: 30px;
    font-weight: 600;
}

.workout_top span {
    color: #b61111;
}

.delete {
    background: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease-in;
}

.delete img {
    width: 40px;
    height: 40px;
    object-fit: cover;
}
.delete:hover {
    transform: scale(1.1);
}

.error,
.message {
    color: #b61111;
    font-weight: 700;
    font-size: 26px;
    padding: 25px 10px 0 10px;
    text-align: center;
}

.message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.message img {
    width: 60px;
    height: 60px;
    object-fit: cover;
}

@media (max-width: 800px) {
    .wrapper {
        padding: 0;
    }
    .workout {
        gap: 15px;
    }
    .btn_plus {
        font-size: 18px;
        gap: 5px;
    }
    .btn_plus img {
        width: 25px;
        height: 25px;
    }
    .workout_item {
        padding: 20px;
    }
    .workout_top h3 {
        font-size: 24px;
    }
    .delete img {
        width: 30px;
        height: 30px;
    }
}

@media (max-width: 630px) {
    .wrapper {
        gap: 15px;
    }
    .workout_item {
        gap: 15px;
        padding: 15px;
    }
    .btn_plus {
        font-size: 16px;
    }
    .btn_plus img {
        width: 20px;
        height: 20px;
    }
    .workout_top h3 {
        font-size: 22px;
    }
    .delete img {
        width: 25px;
        height: 25px;
    }
}
