.wrapper {
    padding-top: 20px;
}

.btn_plus {
    align-self: start;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    padding: 15px;
    background-color: transparent;
    color: #fff;
    border: 2px solid #605656;
    font-family: 'Montserrat Alternates', sans-serif;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in;
}
.btn_plus img {
    object-fit: cover;
    width: 30px;
    height: 30px;
}

.btn_plus:hover {
    transform: scale(1.02);
    background-color: #272727;
}

.btn {
    align-self: center;
    font-size: 20px;
    padding: 10px 15px;
    background-color: #272727;
    color: #fff;
    border: 2px solid #605656;
    font-family: 'Montserrat Alternates', sans-serif;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.btn:hover {
    transform: scale(1.02);
}

.workout {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 20px;
}

.workout_item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 2px solid #463d3d;
    border-radius: 25px;
    padding: 30px;
}

.workout_item h3 {
    font-size: 30px;
    font-weight: 600;
}

.workout_item span {
    color: #b61111;
}

.workout_exercise {
    padding: 10px 30px;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.workout_exercise h4 {
    font-size: 28px;
    font-weight: 500;
}

.exercise_content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.workout_set {
    display: flex;
    justify-content: space-around;
    font-size: 18px;
}

.workout_set:nth-child(even) {
    color: #b61111;
}

.error {
    color: #b61111;
    font-weight: 700;
    font-size: 26px;
    padding: 20px;
    text-align: center;
}
