.wrapper {
    padding: 20px;
}

.preview {
    padding-top: 50px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.preview h1 {
    font-size: 40px;
    font-weight: 800;
    text-align: center;
}

.preview span {
    color: #b61111;
    font-family: 'Poller One', sans-serif;
}

.preview p {
    color: #666666;
    font-size: 24px;
    text-align: center;
    line-height: 115%;
}

.decor {
    display: flex;
    align-items: center;
    gap: 5px;
}

.decor img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.line {
    width: 249px;
    height: 2px;
    background-color: #fff;
    border-radius: 30px;
}

.btn {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: transparent;
    border: 4px solid #464646;
    border-radius: 35px;
    padding: 5px 20px;
    color: #fff;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 700;
    font-size: 23px;
    cursor: pointer;
    transition: all 0.4s ease-in;
}

.btn img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    transition: transform 0.4s ease-in;
}

.btn:hover {
    background-color: #222222;
    transform: scale(1.01);
    color: #b61111;
}

.btn:hover img {
    transform: translateX(5px);
}

.articles {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

.article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.article_img {
    width: 100%;
    height: 327px;
    object-fit: cover;
    border-radius: 20px;
    cursor: pointer;
    transition: transform 0.3s ease-in;
}

.article_img:hover {
    transform: scale(1.01);
}

.article h3 {
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
}

.article_text {
    font-size: 20px;
    line-height: 120%;
    color: #666666;
}

.author {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info {
    display: flex;
    align-items: center;
    gap: 15px;
}

.info h4 {
    font-size: 18px;
    font-weight: 700;
}

.info img {
    width: 67px;
    height: 67px;
    object-fit: cover;
    border-radius: 50%;
}

.date {
    font-size: 18px;
    color: #b61111;
    font-weight: 700;
}
