.wrapper {
    width: 100%;
}

.profile {
    display: flex;
    flex-direction: column;
}

.profile_content {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
}

.info {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #1e1e1e;
}

.avatarContainer {
    display: flex;
    align-items: center;
    position: relative;
    width: 250px;
    height: 250px;
}

.ava {
    object-fit: cover;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    border: 10px solid #161515;
}

.ava_edit {
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
}

.plusIcon {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    background-image: url('assets/icons/add_plus.png');
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.avatarContainer:hover .plusIcon {
    opacity: 1;
}

.avatarContainer:hover .ava_edit {
    opacity: 0.7;
}

.info_content {
    display: flex;
    align-items: end;
    gap: 20px;
}

.btns {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.edit {
    cursor: pointer;
    background-color: transparent;
    border: none;
    transition: all 0.3s ease-in;
}

.edit img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.edit:hover {
    transform: scale(1.1);
}

.logout {
    font-size: 18px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 700;
    color: #fff;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    transition: color 0.3s ease-in;
}

.logout:hover {
    color: #b61111;
}

.logout img {
    width: 30px;
    height: 30px;
    object-fit: cover;
}

.about {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-bottom: 20px;
}

.about h1 {
    font-size: 40px;
    font-weight: 800;
    color: #fff;
    display: flex;
    gap: 12px;
}

.about h1 span {
    color: #b61111;
}

.about p {
    color: #b8b6b6;
    font-size: 18px;
    font-weight: 500;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.text h2 {
    font-size: 30px;
    font-weight: 600;
}

.text p {
    line-height: 125%;
    font-size: 20px;
    color: #a19c9c;
}

.btn,
.input,
.textarea {
    font-size: 18px;
    font-family: 'Montserrat Alternates', sans-serif;
    color: #fff;
    border-radius: 20px;
}

.input {
    width: 320px;
    padding: 12px 20px;
    background: rgba(0, 0, 0, 0.7);
    border: none;
    outline: none;
    transition: all 0.3s ease-in;
}

.input:hover {
    transform: scale(1.02);
}

.textarea {
    width: 100%;
    height: 200px;
    padding: 15px;
    background: transparent;
    border: 2px solid #463d3d;
    resize: none;
    outline: none;
    transition: all 0.3s ease-in;
}

.textarea:hover {
    border: 2px solid #5e5959;
}

.btn {
    align-self: center;
    padding: 10px 15px;
    background-color: #272727;
    border: 2px solid #605656;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.btn:hover {
    transform: scale(1.05);
    background-color: #605656;
}

.links {
    display: flex;
    gap: 15px;
}

.links a {
    background-color: #6a6969;
    padding: 10px 15px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 500;
    transition: all 0.3s ease-in;
}

.links a:hover {
    background-color: #2e2e2e;
}

.active {
    background-color: #272727 !important;
}

@media (max-width: 800px) {
    .avatarContainer {
        width: 200px;
        height: 200px;
    }
    .about h1 {
        font-size: 32px;
    }
    .edit img {
        width: 40px;
        height: 40px;
    }
    .text h2 {
        font-size: 26px;
    }
    .text p {
        font-size: 17px;
    }
}

@media (max-width: 600px) {
    .profile_content {
        padding: 10px;
    }
    .info {
        flex-direction: column;
        padding: 10px;
    }
    .info_content {
        align-items: center;
        flex-direction: column;
        gap: 10px;
    }
    .about {
        align-items: center;
        padding: 0;
    }
    .avatarContainer img {
        border: 6px solid #161515;
    }
    .about h1 {
        font-size: 26px;
    }
    .about p {
        font-size: 16px;
    }
    .text h2 {
        font-size: 22px;
    }
    .text p {
        font-size: 16px;
    }
    .btns {
        flex-direction: row;
        align-items: center;
    }
    .edit img {
        width: 35px;
        height: 35px;
    }
    .logout {
        font-size: 16px;
    }
    .logout img {
        width: 25px;
        height: 25px;
    }
    .links a {
        font-size: 16px;
    }
    .btn,
    .input,
    .textarea {
        font-size: 16px;
    }
    .input {
        width: 300px;
    }
    .links {
        gap: 10px;
    }
}
