.header {
    background-color: #181818;
    font-size: 20px;
    font-weight: 600;
}

.header span {
    color: #b61111;
}

.header a {
    display: flex;
    transition: color 0.3s ease-in;
}

.header a:hover {
    color: #b61111;
}

.link_words {
    display: flex;
    gap: 5px;
}

.active {
    color: #b61111;
}

.header_nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.header_logo {
    display: flex;
    align-items: center;
}

.header_logo img {
    width: 70px;
    height: 70px;
}

.header_logo strong {
    font-family: 'Poller One', sans-serif;
    font-size: 40px;
}

.header_list {
    display: flex;
    gap: 20px;
}

@media (max-width: 1000px) {
    .header_nav {
        padding: 15px 20px;
    }
}
@media (max-width: 800px) {
    .header_nav {
        padding: 10px 20px;
    }
}
@media (max-width: 600px) {
    .header {
        font-size: 18px;
    }
    .header_logo img {
        width: 50px;
        height: 50px;
    }
    .header_logo strong {
        font-size: 32px;
    }
    .header_list {
        gap: 12px;
    }
}
@media (max-width: 480px) {
    .header {
        font-size: 16px;
    }
    .header_nav {
        padding: 15px;
    }
    .header_logo img {
        width: 35px;
        height: 35px;
    }
    .header_logo strong {
        font-size: 24px;
    }

    .header_list {
        gap: 10px;
    }
}
