.article {
    height: 100%;
    padding: 30px 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: space-between;
}

.article_content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: space-between;
}

.article_content img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.title {
    align-self: center;
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    line-height: 125%;
}

.description {
    align-self: center;
    text-align: center;
    font-size: 22px;
    color: #666666;
    line-height: 120%;
}

.author {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.info {
    display: flex;
    align-items: center;
    gap: 20px;
}

.info h4 {
    font-size: 26px;
    font-weight: 700;
}

.info img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}

.author p {
    font-size: 24px;
    text-align: right;
    font-weight: 600;
    color: #b61111;
}

.markdown {
    overflow-wrap: break-word;
    line-height: 120%;
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
    line-height: 110%;
    font-weight: bold;
}

.markdown h1,
.markdown h2,
.markdown h3 {
    margin: 20px 0;
}

.markdown h4,
.markdown h5,
.markdown h6 {
    margin: 10px 0;
}

.markdown h1 {
    font-size: 1.9em;
}

.markdown h2 {
    font-size: 1.5em;
}

.markdown h3 {
    font-size: 1.25em;
}
.markdown h4 {
    font-size: 1.15em;
}
.markdown h5 {
    font-size: 1.1em;
}

.markdown a {
    color: #b61111;
    text-decoration: none;
    font-weight: 600;
}

.markdown a:hover {
    text-decoration: underline;
}

.markdown ul {
    list-style-type: circle;
}

.markdown ol {
    list-style-type: decimal;
}

.markdown ul,
.markdown ol {
    margin: 10px 40px;
}

.markdown li {
    margin-bottom: 5px;
}

.markdown strong {
    font-weight: bold;
}

.markdown em {
    font-style: italic;
}

.markdown blockquote {
    margin: 20px 0;
    padding: 10px 20px;
    background-color: #333333;
    border-left: 5px solid #555555;
    color: #cccccc;
}

.markdown code {
    background-color: #2d2d2d;
    padding: 2px 4px;
    border-radius: 3px;
    font-family: 'Courier New', Courier, monospace;
    color: #c5a5c5;
}

.markdown pre {
    background-color: #2d2d2d;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
    color: #ffffff;
}

.markdown img {
    max-width: 100%;
    height: auto;
}

@media (max-width: 800px) {
    .title {
        font-size: 32px;
    }
    .description {
        font-size: 20px;
    }
    .article_content img {
        height: 300px;
    }
    .author h4 {
        font-size: 24px;
    }
    .author p {
        font-size: 22px;
    }
}

@media (max-width: 600px) {
    .description {
        font-size: 18px;
    }
    .article_content img {
        height: 250px;
    }
    .markdown h1,
    .markdown h2,
    .markdown h3 {
        margin: 10px 0;
    }

    .markdown h4,
    .markdown h5,
    .markdown h6 {
        margin: 5px 0;
    }
}

@media (max-width: 500px) {
    .title {
        font-size: 30px;
    }
    .article {
        padding: 30px 15px 15px;
    }
    .description {
        font-size: 16px;
    }
    .article_content img {
        height: 200px;
    }
    .info {
        gap: 10px;
    }
    .info img {
        width: 50px;
        height: 50px;
    }
    .author h4 {
        font-size: 18px;
    }
    .author p {
        font-size: 16px;
    }
}
