.wrapper {
    width: 100%;
}

.home {
    display: flex;
    width: 100%;
    height: 800px;
    background-image: url('assets/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.preview {
    padding: 60px 40px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.text {
    font-family: 'Notable', sans-serif;
    font-size: 48px;
    color: #b61111;
    max-width: 820px;
    line-height: 130%;
}

.text span {
    color: #fff;
}

.about {
    padding: 40px 20px;
}

.about_title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-bottom: 30px;
}

.about_title h2 {
    font-size: 40px;
    font-weight: 600;
    color: #b61111;
}

.line {
    display: inline-block;
    width: 400px;
    height: 0;
    border: 2px solid #c4c4c4;
}

.about_text {
    text-align: center;
    font-size: 18px;
    line-height: 130%;
    padding-bottom: 50px;
}

.benefits {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-top: 20px;
    padding-bottom: 50px;
}

.el,
.el_sm {
    display: inline-block;
    background-color: #fff;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.el_sm {
    background-color: #b61111;
    width: 10px;
    height: 10px;
}

.benefits h2 {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 32px;
    font-weight: 600;
}

.benefits b {
    color: #b61111;
    font-weight: 900;
}

.benefits_content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.benefits_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.benefits_item img {
    width: 100px;
    height: 100px;
}

.benefits_item h3 {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}
.benefits_item p {
    text-align: center;
    line-height: 125%;
}

.cards {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.card {
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    transition: transform 0.3s ease-in;
}

.card:hover {
    transform: scale(1.03);
}

.card::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.9));
    z-index: 0;
    transition: all 0.4s ease-in;
}

.card:hover::after {
    height: 60%;
}

.card p {
    font-family: 'Poller One', sans-serif;
    position: absolute;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 26px;
    bottom: 8%;
    left: 5%;
    z-index: 1;
}

.card p img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease-in;
}

.card:hover p img {
    transform: scale(1.02) translateX(5px);
}

.card span {
    color: #b61111;
}

.card img {
    object-fit: cover;
    width: 500px;
    height: 300px;
}

@media (max-width: 1350px) {
    .home {
        height: 550px;
    }
}
@media (max-width: 1100px) {
    .text {
        font-size: 42px;
        max-width: 600px;
    }
}
@media (max-width: 1030px) {
    .line {
        width: 250px;
    }
}
@media (max-width: 830px) {
    .about {
        padding: 30px 20px;
    }
    .about_title {
        padding-bottom: 20px;
    }
    .about_title h2 {
        font-size: 36px;
    }
    .about_text {
        font-size: 17px;
        padding-bottom: 35px;
    }
    .benefits {
        padding-bottom: 35px;
    }
    .benefits h2 {
        font-size: 30px;
    }
    .benefits_content {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
}

@media (max-width: 720px) {
    .home {
        height: 450px;
    }
    .preview {
        padding: 40px 25px;
    }
    .text {
        font-size: 38px;
        max-width: 100%;
    }
    .about_title {
        gap: 10px;
    }
    .about_title h2 {
        font-size: 32px;
    }
    .line {
        width: 150px;
    }
    .about_text {
        padding-bottom: 20px;
    }
    .benefits h2 {
        font-size: 28px;
    }
    .el {
        width: 10px;
        height: 10px;
    }
    .el_sm {
        width: 6px;
        height: 6px;
    }
    .cards {
        flex-wrap: wrap;
    }
}

@media (max-width: 600px) {
    .home {
        height: 400px;
    }
    .text {
        font-size: 32px;
    }
    .about_title h2 {
        font-size: 28px;
    }
    .about_text {
        font-size: 16px;
    }
    .line {
        width: 100px;
    }
    .benefits_content {
        gap: 15px;
    }
    .benefits h2 {
        font-size: 24px;
    }
}

@media (max-width: 500px) {
    .home {
        height: 350px;
    }
    .preview {
        padding: 20px 15px;
    }
    .text {
        font-size: 28px;
    }
    .benefits {
        padding-bottom: 20px;
    }
    .card {
        height: 270px;
    }
    .card p {
        bottom: 5%;
    }
}

@media (max-width: 430px) {
    .home {
        height: 300px;
    }
    .text {
        font-size: 24px;
    }
    .about_title h2 {
        font-size: 26px;
    }

    .benefits h2 {
        font-size: 22px;
    }
}
