.workout_set {
    display: flex;
    justify-content: space-around;
    font-size: 18px;
}

.workout_set:nth-child(even) {
    color: #b61111;
}

@media (max-width: 630px) {
    .workout_set {
        font-size: 16px;
    }
}
