.footer {
    background-color: #181818;
    font-size: 20px;
    font-weight: 600;
}

.footer span {
    color: #b61111;
}

.footer_content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.footer_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_logo {
    display: flex;
    align-items: center;
}

.footer_logo img {
    width: 70px;
    height: 70px;
}

.footer_logo strong {
    font-family: 'Poller One', sans-serif;
    font-size: 40px;
}

.socials {
    display: flex;
    gap: 10px;
}

.socials img {
    width: 60px;
    height: 60px;
}

.list {
    display: flex;
    align-self: center;
    gap: 10px;
    background-color: #fff;
    color: #181818;
    padding: 8px;
    border-radius: 30px;
}

.list li {
    padding: 15px;
    transition: all 0.3s ease-in;
    background-color: #fff;
    border-radius: 25px;
}

.list li a {
    display: flex;
}
.list li a div:first-child {
    padding-right: 5px;
}

.list li:hover {
    background-color: #181818;
    color: #fff;
    border-radius: 25px;
}

.active {
    background-color: #181818 !important;
    color: #fff;
    border-radius: 25px;
}

@media (max-width: 1000px) {
    .footer_content {
        padding: 15px 20px;
        gap: 15px;
    }
}
@media (max-width: 800px) {
    .footer_content {
        padding: 10px 20px;
        gap: 10px;
    }
    .socials {
        gap: 8px;
    }
}
@media (max-width: 600px) {
    .footer {
        font-size: 18px;
    }
    .footer_logo img {
        width: 50px;
        height: 50px;
    }
    .footer_logo strong {
        font-size: 32px;
    }
    .socials img {
        width: 45px;
        height: 45px;
    }
}

@media (max-width: 480px) {
    .footer {
        font-size: 16px;
    }
    .footer_logo img {
        width: 35px;
        height: 35px;
    }
    .footer_logo strong {
        font-size: 24px;
    }
    .socials {
        gap: 5px;
    }
    .socials img {
        width: 35px;
        height: 35px;
    }
    .list li {
        padding: 10px;
    }
}
